.vs
bin
obj
QuickCode.Demo.Api/bin
QuickCode.Demo.Api/obj
QuickCode.Demo.Portal/bin
QuickCode.Demo.Portal/obj
QuickCode.Demo.Web/bin
QuickCode.Demo.Web/obj
QuickCode.Demo.DataLayer/bin
QuickCode.Demo.DataLayer/obj
.DS_Store
/src/Services/QuickCode.Demo.EventListenerService/QuickCode.Demo.EventListenerService.csproj.user
/.gitignore
/.gitignore
