<div>
    <div>
        <a href="javascript:openInfoWindow('/Main/Privacy')">Gizlilik & Güvenlik</a>
        <a href="javascript:openInfoWindow('/Main/TermsandConditions')">Hizmet Sözleşmesi</a>
    </div>
  
    <span>Copyright 2017 © freyzt</span>
    <a id="security-cert" rel="external" href="javascript:void(0)"><span>Global Sign</span></a>
    <span style="position: absolute; right: 45px;">
        <a href="/Main/SiteMap">Site Haritası</a>
        <a href="javascript:void(0);" onclick="openHelpWindow()">Yardım</a>
    </span>
</div>
