<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://www.quickcode.net/favicon.ico" />
  <!--[if IE]>
  <link rel="shortcut icon" href="https://www.quickcode.net/favicon.ico" type="image/vnd.microsoft.icon" />
  <![endif]-->
  <title>QuickCode -  Demo - Error</title>

    <environment include="Development">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="/font-awesome/css/all.css" rel="stylesheet" />
        <link href="/css/sb-admin-2.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="/font-awesome/css/all.css" rel="stylesheet" />
        <link href="/css/sb-admin-2.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    </environment>
    <link rel="stylesheet" href="/css/site.css" />

</head>

<body class="bg-gradient-login">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card-login o-hidden border-0 shadow my-3 my-md-5">
                    <div class="card-body p-0">
                        <div class="d-flex-wrap text-center pt-5 pb-2">
                            <img class="sidebar-brand-text img-fluid p-4 p-md-0 " src="/images/logo_s2.png" alt="Logo" />
                        </div>
                        <!-- Nested Row within Card Body -->
                        @RenderBody()
                        <div class="d-flex-wrap text-center ">
                            <div class=" p-3 mb-4 align-content-center">
                                <a href="/Login" class="btn  btn-primary">Return To Login</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <environment include="Development">
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    </environment>
    <environment exclude="Development">
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <script src="/js/site.js" asp-append-version="true"></script>

</body>

</html>
