<div class="card text shadow mb-4">
    <div class="card-body">
        <div class="text-center">
            <img src="/images/403.jpg" class="img-fluid" alt="" />
            <h1 class="card-title">We are Sorry..</h1>
            <p class="card-text">The page you're trying to access has restricted access.</p>
            <p class="card-text">Please refer to your system administrator.</p>
        </div>
    </div>
</div>