@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<p>Use this page to detail your site's privacy policy.</p>
<p>Publish.</p>
